#header {
  display: none;
}

.page-text-wrapper {
  display: none;
}

#page {
  margin: 0px;
  padding: 0px;
}
h1:not(.entry-title):not(.page-title):not(.project-intro-title):not(
    .BlogItem-title
  ):not(.ProductList-title):not(.ProductItem-details-title) {
  color: #fff;
  font-weight: var(--pico-font-weight) !important;
  font-size: var(--pico-font-size) !important;
  line-height: var(--pico-line-height) !important;
  font-family: var(--pico-font-family) !important;
  font-size: 100px !important;
}

.mobile-bar-wrapper {
  display: none !important;
}

@media only screen and (max-width: 640px) {
  .sqs-layout .sqs-row .sqs-block:first-child {
    padding-top: 0 !important;
  }
}

.overflow-wrapper {
  background-color: #fff !important;
}

